<header>
  <h1>{{pageTitle}}</h1>
  <h2>From the head partial</h2>
  <p><a href="/">Home</a></p>
  <p><a href="/about">About</a></p>
  <p><a href="/projects">Projects</a></p>
  <p>{{welcomeMessage}}</p>
</header>
