<!DOCTYPE html>
<html>
  <head>
    <title>Projects</title>
    <meta charset="utf-8">
  </head>
  <body>
    {{> header}}
    <h3>Portfolio</h3>
    <img src="https://picsum.photos/500/500/?random" alt="">
    <p>Gallery coming soon</p>
    {{> footer}}
  </body>
</html>
